.navbar {
	@media screen and (min-width: 1024px) {
		display: block !important;
	}
}

.navbarStart {
	@media screen and (min-width: 1024px) {
		display: block !important;
	}
}

.title {
	font-weight: bold;
}
