.introIcon {
	color: #00d1b2;
}

.title {
	font-weight: bold;
}

.verticalButton {
	background: white;

	&:hover {
		background: #ebfffc;
	}

	span {
		font-weight: bold;
	}

	.isRight {
		margin-left: auto;
	}
}
