.bottomTabBar {
	z-index: 30;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.bottomTabBarItem {
	color: #4a4a4a;
	&:focus-visible {
		outline: none;
	}
	&:hover {
		background-color: #ebfffc;
	}

	&.active {
		color: #00d1b2 !important;
	}
}

.spacer {
	background-color: grey;
}
